# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [1]:
import pandas as pd
import numpy as np

In [2]:
from numpy.random import randn
np.random.seed(101)

In [9]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [10]:
df

          W         X         Y         Z
A  1.035125 -0.031160  1.939932 -1.005187
B -0.741790  0.187125 -0.732845 -1.382920
C  1.482495  0.961458 -2.141212  0.992573
D  1.192241 -1.046780  1.292765 -1.467514
E -0.494095 -0.162535  0.485809  0.392489

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [187]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [188]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [189]:
# SQL Syntax (NOT RECOMMENDED!)
df.W

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

DataFrame Columns are just Series

In [12]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [29]:
df['new'] = df['W'] + df['Y']

In [30]:
df

          W         X         Y         Z       new
A  1.035125 -0.031160  1.939932 -1.005187  2.975057
B -0.741790  0.187125 -0.732845 -1.382920 -1.474635
C  1.482495  0.961458 -2.141212  0.992573 -0.658717
D  1.192241 -1.046780  1.292765 -1.467514  2.485005
E -0.494095 -0.162535  0.485809  0.392489 -0.008287

** Removing Columns**

In [31]:
df.drop('new',axis=1)

          W         X         Y         Z
A  1.035125 -0.031160  1.939932 -1.005187
B -0.741790  0.187125 -0.732845 -1.382920
C  1.482495  0.961458 -2.141212  0.992573
D  1.192241 -1.046780  1.292765 -1.467514
E -0.494095 -0.162535  0.485809  0.392489

In [32]:
# Not inplace unless specified!
df

          W         X         Y         Z       new
A  1.035125 -0.031160  1.939932 -1.005187  2.975057
B -0.741790  0.187125 -0.732845 -1.382920 -1.474635
C  1.482495  0.961458 -2.141212  0.992573 -0.658717
D  1.192241 -1.046780  1.292765 -1.467514  2.485005
E -0.494095 -0.162535  0.485809  0.392489 -0.008287

In [33]:
df.drop('new',axis=1,inplace=True)

In [34]:
df

          W         X         Y         Z
A  1.035125 -0.031160  1.939932 -1.005187
B -0.741790  0.187125 -0.732845 -1.382920
C  1.482495  0.961458 -2.141212  0.992573
D  1.192241 -1.046780  1.292765 -1.467514
E -0.494095 -0.162535  0.485809  0.392489

Can also drop rows this way:

In [35]:
df.drop('E',axis=0)

          W         X         Y         Z
A  1.035125 -0.031160  1.939932 -1.005187
B -0.741790  0.187125 -0.732845 -1.382920
C  1.482495  0.961458 -2.141212  0.992573
D  1.192241 -1.046780  1.292765 -1.467514

In [36]:
df

          W         X         Y         Z
A  1.035125 -0.031160  1.939932 -1.005187
B -0.741790  0.187125 -0.732845 -1.382920
C  1.482495  0.961458 -2.141212  0.992573
D  1.192241 -1.046780  1.292765 -1.467514
E -0.494095 -0.162535  0.485809  0.392489

** Selecting Rows**

In [37]:
df.loc['A']

W    1.035125
X   -0.031160
Y    1.939932
Z   -1.005187
Name: A, dtype: float64

Or select based off of position instead of label

In [38]:
df.iloc[2]

W    1.482495
X    0.961458
Y   -2.141212
Z    0.992573
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [200]:
df.loc['B','Y']

-0.84807698340363147

In [41]:
df.loc[['A','B'],['W','Y','Z']]

          W         Y         Z
A  1.035125  1.939932 -1.005187
B -0.741790 -0.732845 -1.382920

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [202]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [203]:
df>0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [47]:
df[df>0]

          W         X         Y         Z
A  1.035125       NaN  1.939932       NaN
B       NaN  0.187125       NaN       NaN
C  1.482495  0.961458       NaN  0.992573
D  1.192241       NaN  1.292765       NaN
E       NaN       NaN  0.485809  0.392489

In [48]:
df[df['W']>0]

          W         X         Y         Z
A  1.035125 -0.031160  1.939932 -1.005187
C  1.482495  0.961458 -2.141212  0.992573
D  1.192241 -1.046780  1.292765 -1.467514

In [51]:
df[df['W']>0]['Y']

A    1.939932
C   -2.141212
D    1.292765
Name: Y, dtype: float64

In [52]:
df[df['W']>0][['Y','X']]

          Y         X
A  1.939932 -0.031160
C -2.141212  0.961458
D  1.292765 -1.046780

For two conditions you can use | and & with parenthesis:

In [63]:
df[(df['W']>0) & (df['Y'] == 1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [209]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [210]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z
0     A  2.706850  0.628133  0.907969  0.503826
1     B  0.651118 -0.319318 -0.848077  0.605965
2     C -2.018168  0.740122  0.528813 -0.589001
3     D  0.188695 -0.758872 -0.933237  0.955057
4     E  0.190794  1.978757  2.605967  0.683509

In [211]:
newind = 'CA NY WY OR CO'.split()

In [212]:
df['States'] = newind

In [213]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [214]:
df.set_index('States')

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

In [215]:
df

          W         X         Y         Z States
A  2.706850  0.628133  0.907969  0.503826     CA
B  0.651118 -0.319318 -0.848077  0.605965     NY
C -2.018168  0.740122  0.528813 -0.589001     WY
D  0.188695 -0.758872 -0.933237  0.955057     OR
E  0.190794  1.978757  2.605967  0.683509     CO

In [216]:
df.set_index('States',inplace=True)

In [218]:
df

               W         X         Y         Z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057
CO      0.190794  1.978757  2.605967  0.683509

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [64]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]

In [65]:
hier_index = list(zip(outside,inside))

In [66]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [67]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [68]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [70]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.866885  0.720788
   2 -1.223082  1.606780
   3 -1.115710 -1.385379
G2 1 -1.329660  0.041460
   2 -0.411055 -0.771329
   3  0.110477 -0.804652

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [71]:
df.loc['G1']

          A         B
1 -0.866885  0.720788
2 -1.223082  1.606780
3 -1.115710 -1.385379

In [72]:
df.loc['G1'].loc[1]

A   -0.866885
B    0.720788
Name: 1, dtype: float64

In [75]:
df.index.names

FrozenList([None, None])

In [76]:
df.index.names = ['Department','Employees']

In [77]:
df

                             A         B
Department Employees
G1         1         -0.866885  0.720788
           2         -1.223082  1.606780
           3         -1.115710 -1.385379
G2         1         -1.329660  0.041460
           2         -0.411055 -0.771329
           3          0.110477 -0.804652

In [78]:
df.xs('G1')

                  A         B
Employees
1         -0.866885  0.720788
2         -1.223082  1.606780
3         -1.115710 -1.385379

In [79]:
df.xs(['G1',1])

A   -0.866885
B    0.720788
Name: (G1, 1), dtype: float64

In [86]:
df.xs(1,level='Employees')

                   A         B
Department
G1         -0.866885  0.720788
G2         -1.329660  0.041460

In [ ]:
pd.